.hero__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.hero__section h1 {
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  line-height: 2.5rem;
  margin-top: 1rem;
}

.hero__section p {
  text-align: center;
  font-size: 2rem;
  margin-top: 2rem;
  line-height: 2.3rem;
  margin-bottom: 2rem;
  color: var(--black-100);
}

#consultBtn {
  font-size: 2rem;
  background-color: var(--secondary-200);
  color: var(--primary--background);
  padding: 0.8em 2.8em;
  border-radius: 2rem;
  border: none;
}

#consultBtn:hover {
  cursor: pointer;
}

@media screen and (min-width: 1000px) {
  .hero__section {
    flex-direction: row-reverse;
    gap: 7.1rem;
  }

  .header__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .header__content h1 {
    text-align: start;
    font-size: 4.8rem;
    line-height: 5.6rem;
  }

  .header__content p {
    text-align: start;
    font-size: 2.1rem;
    line-height: 3.2rem;
    margin: 2.5rem 0 0 0;
  }

  #consultBtn {
    margin-top: 4.7rem;
  }
}
