.info__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#learnBtn {
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
#learnBtn:hover {
  box-shadow: 10px 10px 10px -1px rgba(10, 99, 169, 0.16),
    -10px -10px 10px -1px rgba(255, 255, 255, 0.7);
  transform: scale(1.03);
  background-color: var(--secondary-200);
  color: var(--primary--background);
}

@media screen and (min-width: 1000px) {
  .info__section {
    flex-direction: row;
  }

  .info__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 6rem;
  }

  .info__content h1 {
    text-align: start;
    font-size: 4.8rem;
    line-height: 5.6rem;
  }

  .info__content p {
    text-align: left;
    font-size: 2.1rem;
    line-height: 3.2rem;
    margin-top: 2.5rem;
  }

  #learnBtn {
    margin-top: 4.7rem;
  }
}
