:root {
  /* Colors */
  --primary-100: #67c3f3;
  --primary--background: white;
  --black-100: rgba(31, 21, 52, 0.5);
  --black-200: #1f1534;
  --secondary-200: #458ff6;
  --blue-gradient: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);

  /*Font set to 10px to make rem calculations easy*/
    font-size: 10px;

}

